body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    background-color: #f3f4f6;
}

header {
    background-color: #00796b;
    color: white;
    text-align: center;
    padding: 1em;
}

nav a {
    margin: 0 15px;
    color: rgb(0, 0, 0);
    text-decoration: none;
}

main {
    padding: 20px;
}

section article {
    margin-bottom: 20px;
    background: white;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    padding: 10px 20px;
    background-color: #00796b;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #00574b;
}
